.col{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.mid{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.flexcenter{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexend{
    justify-content: flex-end;
}
.spacearound{
    justify-content: space-evenly;
}

.vertical-line{
    width: 0px;
    border-left:1px solid #555 ;
    height: 100%;
}
.borduretop{
    width: 100%;
    height: 10%;
    background: linear-gradient(black,transparent 50%);
    z-index: 99;
    position: fixed;
    top: 0;
}
.bordurebottom{
    width: 100%;
    height: 10%;
    background: linear-gradient(transparent 50%,black);
    z-index: 99;
    position: fixed;
    bottom: 0;
}
.delimit{
    width: 100%;
    height: 100px;
    background: white;
}
.delimit h2{
    color: black;
    text-align: center;
    vertical-align: middle;
}
.page{
    overflow-y: scroll;
    position: relative;
    width: 95vw;
    height: 100vh;
    min-height: 800px;
    margin: auto;
}
.verticalaligntext{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:1000px) {
    .page{
        overflow-y: visible;
    }
}