h1,h2{
    font-family: 'medium';
    font-weight: normal;
    letter-spacing: 0.2em;
}

h1{
    font-weight: 700;
    font-size: 2.3em;
    margin-left: 2%;
    animation: 3s ease-out 0s 1 opacity0to1;
}
#PROFIL{
    font-size: 1.7em;
    margin-left: 5%;
    opacity: 0;
    animation: 3s ease-out 0.5s 1 opacity0to1;
}
.header{
    margin-bottom: 2%;
}
#headerline{
    animation: 2s ease-out 0s 1 headerlineAnim;
    width: 60%;
}

@media (max-width:1000px) {
    h1{
        text-align: center;
        font-size: 1.8em;
        margin: 0;
    }
    #PROFIL{
        text-align: center;
        font-size: 1.5em;
        margin: 0;
    }
    #headerline{
        animation: 2s ease-out 0s 1 headerlineAnimMobile;
        width: 100%;
    }
}