.hover{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.3;
    font-size: 2em;
    z-index: 99;
}
.hover:hover{
    opacity: 1;
}
.switch-active{
    color: #000;
    transition: 0.5s;
}

.leftside, .rightside{
    position: fixed;
    top: 50%;
    transform: translate(-50%);
}
.leftside{
    left:2.5%;
}
.rightside{
    right:0%;
}

@media (max-width:1000px) {
    .rightside{
        right: -5%;
    }
}