.paragraph{
    margin-left: 5%;
    width: 42%;
    font-family: 'medium';
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 1%;
    text-align: justify;
    opacity: 0;
    animation: 3s ease-in 1s 1 opacity0to1;
    text-shadow: 0.1em 0.1em 0px black;
}

@media (max-width:1000px) {
    .paragraph-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-bottom: 5%;
    }
    .paragraph{
        margin: 0;
        margin-bottom: 1%;
        width: 80%;
    }
}
@media (min-width:1700px) {
    .paragraph{
        font-size: 1em;
    }
}
