.paragraph{
    margin-left: 10%;
    width: 39%;
    font-family: 'medium';
    font-size: 0.9em;
    font-weight: 900;
    margin-bottom: 1%;
    text-align: justify;
    opacity: 0;
    animation: 3s ease-in 1s 1 opacity0to1;
}
